* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	display: flex;
	width: 1200px;
	align-items: center;
	justify-content: space-between;
	border-bottom: 10px solid #6E6D79;
	margin: auto;
	background-color: rgb(112, 142, 183);
}

header img {
	/* border-radius: 100px; */
	margin-left: 35px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 3px solid rgb(106, 106, 106);
}

header h2 {
	text-align: center;
}

header nav {
	display: flex;
	align-items: center;
	margin-bottom: 150px;
	margin-right: 75px;
}

header nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

header nav li {
	margin-right: 10px;
}

header nav a {
	text-decoration: none;
}

.nameis{
	margin-right: 10px;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 1200px;
	margin: auto;
	background-color: rgb(104, 153, 217);
}

section {
	width: 45%;
	height: 250px;
	margin-left: 10px;
}

section:not(:first-child):not(:nth-child(2)) {
	border-top: 2px solid #6E6D79;
}

section h2 + ul {
	list-style-type: none;
	padding: 0;

}

section h2 + ul li {
	margin-bottom: 10px;
}

footer {
	height: 80px;
	width: 1200px;
	margin: auto;
	background-color: rgb(112, 142, 183);
}

footer ul {
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	list-style: none;
	padding-top: 40px;
}